@font-face {
    font-family: "Work Sans";
    src: url('../assets/fonts/WorkSans_wght.ttf');
    font-weight: 1 999;
}
@font-face {
    font-family: "Work Sans";
    src: url('../assets/fonts/WorkSans-Italic_wght.ttf');
    font-weight: 1 999;
    font-style: italic;
}
@font-face {
    font-family: "Bricolage Grotesque";
    src: url('../assets/fonts/BricolageGrotesque_opsz-wdth-wght.ttf');
    font-weight: 1 999;
}