section[nav-anchor-section="landing-home"] {
    margin-top: var(--nav-height-min);
    margin-bottom: var(--doc-margin-small);
    --new-height: calc((100vh - var(--nav-height-min)) - var(--doc-margin-small));
    height: var(--new-height);
    min-height: var(--new-height);

    @media (max-width: $doc-phone) {
        min-height: 72rem;
    }

    > * {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: $doc-phone) {
        }

        position: relative;
        height: 100%;

        > * {
            @include flex-static-self;
            height: auto;
        }
    }

    .top-container {
        position: static;

        @media (max-width: $doc-phone) {
            position: relative;
            min-height: 20vh;
            height: 50%;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    .img-container {
        z-index: -100;

        position: absolute;
        height: 100%;
        > * {
            size: 100%;
        }

        @media (max-width: $doc-phone) {
            --offset-img: calc(var(--doc-col-width) + var(--doc-gutter));
            left: var(--offset-img);
            --new-width: calc(100% - (var(--offset-img) - var(--doc-margin)));

            [layout] {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .content-txt-top {
        @media (min-width: $doc-phone-m) {
            padding-top: var(--doc-margin-small-offset);
        }
        @media (max-width: $doc-phone) {
            padding-bottom: var(--doc-margin-small-offset);
        }

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include spacing-v-children(var(--spacing-medium-large));


        div[translate-id] {
            @include spacing-h-children(0.225em);
        }

        > div:first-child {
            font-size: 12rem;
            line-height: 1;

            > span:first-child {
                font-weight: 350;
                letter-spacing: -0.085em;
            }
            > span:last-child {
                @include txt-w-medium;
                letter-spacing: -0.05em;
            }
        }
        > div:last-child {
            font-style: italic;
            font-size: 3.2rem;
            line-height: 115%;
        }

        @media (max-width: $doc-phone) {
            > div:first-child {
                font-size: 6.5rem;
            }
            > div:last-child {
                font-size: var(--txt-body-size);
            }
        }
    }

    .content-txt-bottom {
        position: absolute;
        bottom: 0;
        left: 0;

        row-gap: 0;
        padding-bottom: var(--doc-margin-small-offset);

        align-items: end;
        font-size: calc(var(--txt-size-ggrid) * 22);

        h1 {
            font-size: 1em;
            line-height: 90%;
            font-variation-settings:
                "wdth" 100,
                "wght" 450,
                "opsz" 12;
            transform: translateX(-0.04em); // offset align grid
        }
        h1:nth-child(1) {
            grid-column: 1 / -1;
            grid-row: 1;
        }
        h1:nth-child(2) {
            grid-column: 2 / -1;
            grid-row: 2;
            padding-left: var(--doc-col-width);
        }
        .scroll-down-notice {
            grid-column: 1 / 3;
            grid-row: 2;
            transform: translateY(-0.09em); // offset align baseline

            svg {
                size: calc(var(--doc-col-width) + var(--doc-gutter));
                --stroke-width: 3.5px;
            }
        }


        @media (max-width: $doc-phone) {
            font-size: calc(var(--txt-size-ggrid) * 15);

            h1:nth-child(2) {
                grid-column: 1 / -1;
                padding-left: 0;
            }

            .scroll-down-notice {
                padding-top: var(--spacing-large);
                grid-column: 1 / -1;
                grid-row: 3;
                justify-content: center;

                svg {
                    size: var(--doc-col-width);
                    --stroke-width: 4px;
                }
            }
        }
    }
}


section[nav-anchor-section="showreel"] {
    padding-bottom: var(--spacing-section-medium-large);

    .showreel-container {
        grid-column: 1 / -4;
        padding-right: var(--doc-col-width);

        @media (max-width: $doc-phone) {
            grid-column: 1 / -1;
            grid-row: 2;
            padding-right: 0;
        }

        .showreel-in {
            aspect-ratio: 16 / 9;
        }

        video {
            size: 100%;
        }

        span {
            z-index: 100;
            position: absolute;
            left: 0;
            bottom: 0;
            margin: var(--doc-corner-items);
        }
    }

    h2 {
        z-index: 100;
        position: relative;
        top: -0.625em;
        grid-column: -6 / -1;

        @media (max-width: $doc-phone) {
            top: 0;
            margin-bottom: var(--spacing-small);
            grid-column: 1 / -1;
        }
    }
}


section[nav-anchor-section="approche"] {
    padding-bottom: var(--spacing-section-medium-large);

    .section-head {
        .anchor-title {
            grid-column: 2 / 3;
        }

        h2 {
            grid-column: 4 / -1;
        }

        @media (max-width: $doc-half) {
            h2 {
                grid-column: 1 / -1;
                grid-row: 2;
            }
        }
    }
    .section-side_to_side {
        wrapper {
            margin: var(--spacing-section-small) _ ;
        }

        > .media-container:nth-child(1) {
            grid-column: 1 / 6;

            @media (max-width: $doc-phone) {
                grid-column: 1 / -2;
            }
        }
        > .content-container:nth-child(2) {
            grid-column: 7 / -2;

            @media (max-width: $doc-half) {
                grid-column: 7 / -1;
            }

            @media (max-width: $doc-phone) {
                padding-left: calc(var(--doc-col-width) / 2);

                wrapper {
                    padding-left: var(--offset-grid);
                }
            }
        }

        .card-content {
            width: calc((var(--doc-col-width) * 4) + (var(--doc-gutter) * 3));

            &:nth-child(2n + 1) {
                margin-left: calc(var(--doc-col-width) + var(--doc-gutter));
            }

            @media (max-width: $doc-half) {
                width: calc((var(--doc-col-width) * 6) + (var(--doc-gutter) * 3));

                &:nth-child(2n + 1) {
                    margin-left: calc(var(--doc-col-width) / 2 + var(--doc-gutter));
                }
            }
            @media (max-width: $doc-phone) {
                width: calc((var(--doc-col-width) * 5) + (var(--doc-gutter) * 3));

                &:nth-child(2n + 1) {
                    margin-left: calc(var(--doc-col-width) / 2 + var(--doc-gutter));
                }
            }
        }
    }
}


section[nav-anchor-section="portfolio"] {
    padding-bottom: var(--spacing-section-medium-large);

    .section-head {
        .anchor-title {
            grid-column: -5 / -2;
        }

        h2 {
            grid-column: 1 / -5;
        }

        @media (max-width: $doc-half) {
            .anchor-title {
                grid-column: -3 / -1;
            }

            h2 {
                grid-column: 1 / -1;
                grid-row: 2;
            }
        }
    }

    .projects-list {

    }

    .cta-portfolio {
        > wrapper {
            padding: var(--spacing-mega) _;
            border-radius: var(--doc-corner-items);
            /* border-top-right-radius: var(--doc-corner-items);
            border-bottom-right-radius: var(--doc-corner-items);
            border-left: 0; */

            > *:nth-last-child(3) {
                grid-column: 1 / 2;

                size: 100%;
                --stroke-width: 4px;
            }

            > *:nth-last-child(2) {
                grid-column: 1 / 7;
                margin-left: var(--doc-col-width);

                font-size: 3.2rem;
                letter-spacing: -0.04em;

                &:nth-child(2) {
                    grid-column: 2 / 7;
                    font-size: calc(var(--txt-size-ggrid) * 3.2);
                    margin-left: 0;
                }
            }

            > *:nth-last-child(1) {
                grid-column: 7 / -1;

                > * {
                    position: relative;
                    display: inline-flex;
                    align-items: flex-start;
                    white-space: nowrap;

                    font-size: 5.8rem;
                    @include txt-w-550;

                    > *:first-child {
                        letter-spacing: -0.06em;

                        --ico-size: 0.8em;
                        --ico-spacing: 1.75rem;
                        --ico-stroke-width: 6px;

                        border-bottom: var(--stroke);
                        border-bottom-width: var(--stroke-w-big);
                    }
                    &:hover > *:first-child {
                        border-bottom-style: dotted;
                    }

                    > *:last-child {
                        font-size: 0.5em;
                        letter-spacing: -0.03em;
                        line-height: 1;
                    }
                }

            }

            @media (max-width: $doc-half) {
                row-gap: var(--spacing-small-medium);

                > * {
                    grid-column: 1 / -1 !important;
                    margin-left: var(--doc-margin) !important;
                }

                > *:nth-last-child(1) {
                    grid-row: 2;
                }
            }
            @media (max-width: $doc-phone) {
                > *:nth-last-child(2) {
                    font-size: 2.25rem;
                }

                > *:nth-last-child(1) {
                    > * {
                        font-size: 3.7rem;
                    }
                }
            }
        }
    }
}