html[page="about"] {
    section[nav-anchor-section="landing"] {
        margin-bottom: var(--spacing-section-medium-large);

        .card-yolan {
            position: relative;

            .title {
                @include flex-between;
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                left: 0;
                width: calc(100% - (var(--spacing-small) * 2));
                margin: var(--spacing-small);
                padding: var(--spacing-small) var(--spacing-medium-large);
                @include stroke-around($radius : calc(var(--doc-corner-items) - var(--spacing-small)));

                span {
                    @include txt-w-550;
                    font-size: 3.6rem;
                }
            }
            img {
                size: 100%;
                border-radius: var(--doc-corner-items);
            }
        }

        h-subtitle {
            text-wrap: balance;
        }

        .scroll-down-notice {
            > div {
                display: inline-block;
            }

            svg {
                size: var(--doc-gutter);
                --stroke-width: 4px;
                transform: rotateZ(90deg);
            }
        }

        .landing-content {
            @include flex-between;
            flex-direction: column;
            box-sizing: border-box;

            .content {
                @include spacing-v-children(var(--spacing-super));
            }
        }


        // responsive
        @media (min-width: $doc-phone-m) {
            .card-yolan {
                margin-right: var(--doc-col-width);
            }

            .landing-content {
                margin-left: var(--doc-col-width);
            }
        }

        .display-pc--tablet {
            .card-yolan {
                height: 100vh;
                margin-top: calc(var(--nav-height) + var(--spacing-mega));
                grid-column: 2 / 7;
            }

            h1 {
                text-wrap: balance;
            }

            .scroll-down-notice {
                margin-bottom: var(--spacing-mega);
            }

            .landing-content {
                height: 100vh;
                grid-column: 6 / -2;
                padding-top: var(--nav-height);

                h-subtitle {
                    width: 75%;
                }
            }
        }

        .display-tablet {
            padding-top: calc(var(--nav-height) + var(--spacing-mega));
            row-gap: var(--spacing-super);

            h1 {
                grid-column: 1 / -1;
                grid-row: 1;
            }

            .card-yolan,
            .landing-content {
                height: 60vh;
            }

            .card-yolan {
                grid-column: 1 / 7;
                grid-row: 2;
            }

            .landing-content {
                padding-top: calc(var(--doc-corner-items) / 2);
                grid-column: 6 / -1;
                grid-row: 2;

                h-subtitle {
                    width: 100%;
                }
            }

            @media (max-width: $doc-phone) {
                padding-top: calc(var(--doc-margin) + var(--spacing-mega));
                padding-bottom: var(--spacing-super);
                align-items: end;

                min-height: 100vh;

                .card-yolan,
                .landing-content {
                    height: 100%;
                }

                .card-yolan {
                    grid-column: 1 / 4;

                    .title {
                        padding: var(--spacing-small);

                        span {
                            font-size: var(--txt-body-size);
                        }
                    }
                }

                .landing-content {
                    grid-column: 4 / 7;

                    .scroll-down-notice {
                        svg {
                            size: calc(var(--doc-col-width) / 2);
                        }
                    }
                }
            }
        }
    }
}


section[nav-anchor-section="formations"] {
    margin-bottom: var(--spacing-section-large);
    row-gap: var(--spacing-super);

    .anchor-title {
        grid-column: 1 / 7;
        margin-right: var(--doc-col-width);
    }

    .cards-other {
        grid-column: 2 / 7;
        grid-row: 2 / 3;
        margin-right: var(--doc-col-width);
    }

    .cards-diploma {
        grid-column: 6 / -2;
        grid-row: 1 / 3;
        margin-left: var(--doc-col-width);

        .card-content {
            @include spacing-v-children(var(--spacing-small-medium));

            .header {
                flex-direction: column;
                @include spacing-v-small-children;
            }

            .title-diploma {
                display: flex;
                flex-direction: row;
                align-items: center;

                .icon {
                    size: 8rem;
                }

                > * {
                    flex-grow: 0;
                    flex-shrink: 0;
                }
                > *:last-child {
                    flex-grow: 1;
                    flex-shrink: 1;
                }

                .icon {
                    margin-right: var(--spacing-small);
                }
                span:not(:last-child) {
                    margin-right: var(--spacing-small-medium);
                }

                span:first-of-type {
                    font-size: 5.5rem;
                    line-height: 1;
                    letter-spacing: -0.05em;
                    @include txt-w-semibold;
                }
                span:last-of-type {
                    font-size: 2.8rem;
                    line-height: 110%;
                    letter-spacing: -0.035em;
                    @include txt-w-semibold;
                }
            }
        }
    }

    @media (max-width: $doc-half) {
        .anchor-title {
            grid-column: 1 / 7;
            margin-right: var(--doc-col-width);
        }
        .cards-diploma {
            grid-column: 1 / -1;
            grid-row: 2;
            margin-left: 0;
            margin-bottom: var(--spacing-small-medium);
        }
        .cards-other {
            grid-column: 1 / -1;
            grid-row: 3;
            margin-right: 0;
        }
    }
    @media (max-width: $doc-phone) {
        .anchor-title {
            grid-column: 1 / 4;
            margin-right: 0;
        }

        .card-content {
            .title-diploma {
                flex-wrap: wrap;
                @include spacing-v-small-children;

                > *:not(:last-child) {
                    margin-right: var(--spacing-medium);
                }
                span:first-of-type {
                    min-width: 70%;
                }
                > *:last-child {
                    flex-grow: 1;
                    flex-shrink: 0;
                }
            }
        }
    }
}



section[nav-anchor-section="mes_moyens"] {
    margin-bottom: var(--spacing-section-large);

    > .ggrid:first-child {
        margin-bottom: var(--spacing-section-small);
        row-gap: var(--spacing-super);

        .anchor-title {
            grid-column: -5 / -2;
            margin-left: var(--doc-col-width);
        }

        h2 {
            grid-column: 1 / -4;
        }

        @media (max-width: $doc-half) {
            .anchor-title {
                margin-left: 0;
            }

            h2 {
                grid-column: 1 / -1;
                grid-row: 2;
            }
        }
    }

    > .ggrid:not(:first-child):not(:last-child) {
        margin-bottom: var(--spacing-section-medium);
    }

    > .ggrid:not(:first-child) {
        row-gap: var(--spacing-large);

        h4 {
            grid-column: 1 / -1;
        }

        .sep {
            grid-column: 1 / 3;
            grid-row: 2;

            --sep-side-margin: calc(var(--doc-col-width) + var(--anchor-side-margin));
        }

        .cards {
            grid-column: 2 / -2;
            grid-row: 2;

            @media (max-width: $doc-phone) {
                grid-column: 2 / -1;
            }
        }

        &#moyen_mat-perso {
        }

        &#moyen_mat-outils {
        }
    }
}