html[page="about"] {
    section[nav-anchor-section="landing"] {
        margin-bottom: var(--spacing-section-medium-large);

        .card-yolan {
            position: relative;

            .title {
                @include flex-between;
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                left: 0;
                width: calc(100% - (var(--spacing-small) * 2));
                margin: var(--spacing-small);
                padding: var(--spacing-small) var(--spacing-medium-large);
                @include stroke-around($radius : calc(var(--doc-corner-items) - var(--spacing-small)));

                span {
                    @include txt-w-550;
                    font-size: 3.6rem;
                }

                .age {
                    @include flex-center-h;
                    span {
                        display: inline-block;
                        @include spacing-h-siblings(0.3em);
                    }
                }
            }
            img {
                size: 100%;
                border-radius: var(--doc-corner-items);
            }
        }

        h-subtitle {
            text-wrap: balance;
        }

        .scroll-down-notice {
            > div {
                display: inline-block;
            }

            svg {
                size: var(--doc-gutter);
                --stroke-width: 4px;
                transform: rotateZ(90deg);
            }
        }

        .landing-content {
            @include flex-between;
            flex-direction: column;
            box-sizing: border-box;

            .content {
                @include spacing-v-children(var(--spacing-super));
            }
        }


        // responsive
        @media (min-width: $doc-phone-m) {
            .card-yolan {
                margin-right: var(--doc-col-width);
            }

            .landing-content {
                margin-left: var(--doc-col-width);
            }
        }

        .display-pc--tablet {
            .card-yolan {
                height: 100vh;
                margin-top: calc(var(--nav-height) + var(--spacing-mega));
                grid-column: 2 / 7;
            }

            h1 {
                text-wrap: balance;
            }

            .scroll-down-notice {
                margin-bottom: var(--spacing-mega);
            }

            .landing-content {
                height: 100vh;
                grid-column: 6 / -2;
                padding-top: var(--nav-height);

                h-subtitle {
                    width: 75%;
                }
            }
        }

        .display-tablet {
            padding-top: calc(var(--nav-height) + var(--spacing-mega));
            row-gap: var(--spacing-super);

            h1 {
                grid-column: 1 / -1;
                grid-row: 1;
            }

            .card-yolan,
            .landing-content {
                height: 60vh;
            }

            .card-yolan {
                grid-column: 1 / 7;
                grid-row: 2;
            }

            .landing-content {
                padding-top: calc(var(--doc-corner-items) / 2);
                grid-column: 6 / -1;
                grid-row: 2;

                h-subtitle {
                    width: 100%;
                }
            }

            @media (max-width: $doc-phone) {
                padding-top: calc(var(--doc-margin) + var(--spacing-mega));
                padding-bottom: var(--spacing-super);
                align-items: end;

                min-height: 100vh;

                .card-yolan,
                .landing-content {
                    height: 100%;
                }

                .card-yolan {
                    grid-column: 1 / 4;

                    .title {
                        padding: var(--spacing-small);

                        span {
                            font-size: var(--txt-body-size);
                        }
                    }
                }

                .landing-content {
                    grid-column: 4 / 7;

                    .scroll-down-notice {
                        svg {
                            size: calc(var(--doc-col-width) / 2);
                        }
                    }
                }
            }
        }
    }
}


section[nav-anchor-section="formations"] {
    padding-bottom: var(--spacing-section-large);
    row-gap: var(--spacing-super);

    .anchor-title {
        grid-column: 1 / 7;
        margin-right: var(--doc-col-width);
    }

    .cards-other {
        grid-column: 2 / 7;
        grid-row: 2 / 3;
        margin-right: var(--doc-col-width);
    }

    .cards-diploma {
        grid-column: 6 / -2;
        grid-row: 1 / 3;
        margin-left: var(--doc-col-width);

        .card-content {
            @include spacing-v-children(var(--spacing-small-medium));

            .header {
                flex-direction: column;
                @include spacing-v-children(var(--spacing-small));
            }

            .title-diploma {
                display: flex;
                flex-direction: row;
                align-items: center;

                .icon {
                    size: 8rem;
                }

                > * {
                    flex-grow: 0;
                    flex-shrink: 0;
                }
                > *:last-child {
                    flex-grow: 1;
                    flex-shrink: 1;
                }

                .icon {
                    margin-right: var(--spacing-small);
                }
                span:not(:last-child) {
                    margin-right: var(--spacing-small-medium);
                }

                span:first-of-type {
                    font-size: 5.5rem;
                    line-height: 1;
                    letter-spacing: -0.05em;
                    @include txt-w-semibold;
                }
                span:last-of-type {
                    font-size: 2.8rem;
                    line-height: 110%;
                    letter-spacing: -0.035em;
                    @include txt-w-semibold;
                }
            }
        }
    }

    @media (max-width: $doc-half) {
        .anchor-title {
            grid-column: 1 / 7;
            margin-right: var(--doc-col-width);
        }
        .cards-diploma {
            grid-column: 1 / -1;
            grid-row: 2;
            margin-left: 0;
            margin-bottom: var(--spacing-small-medium);
        }
        .cards-other {
            grid-column: 1 / -1;
            grid-row: 3;
            margin-right: 0;
        }
    }
    @media (max-width: $doc-phone) {
        .anchor-title {
            grid-column: 1 / 4;
            margin-right: 0;
        }

        .card-content {
            .title-diploma {
                flex-wrap: wrap;
                @include spacing-v-children(var(--spacing-small));

                > *:not(:last-child) {
                    margin-right: var(--spacing-medium);
                }
                span:first-of-type {
                    min-width: 70%;
                }
                > *:last-child {
                    flex-grow: 1;
                    flex-shrink: 0;
                }
            }
        }
    }
}


section[nav-anchor-section="mes_moyens"],
section[nav-anchor-section="experiences_pro"] {
    > .ggrid:not(:first-child):not(:last-child) {
        margin-bottom: var(--spacing-section-medium);
    }

    > .ggrid:not(:first-child) {
        row-gap: var(--spacing-large);

        h4 {
            grid-column: 1 / -1;
        }

        .sep {
            grid-column: 1 / 3;
            grid-row: 2;

            --sep-side-margin: calc(var(--doc-col-width) + var(--anchor-side-margin));
        }

        .cards {
            grid-column: 2 / -2;
            grid-row: 2;

            @media (max-width: $doc-phone) {
                grid-column: 1 / -1;
                margin-left: calc(var(--doc-col-width) / 2);
            }
        }
    }
}


section[nav-anchor-section="mes_moyens"] {
    padding-bottom: var(--spacing-section-large);

    .section-head {
        margin-bottom: var(--spacing-section-small);
        row-gap: var(--spacing-super);

        .anchor-title {
            grid-column: -5 / -2;
            margin-left: var(--doc-col-width);
        }

        h2 {
            grid-column: 1 / -4;
        }

        @media (max-width: $doc-half) {
            .anchor-title {
                margin-left: 0;
            }

            h2 {
                grid-column: 1 / -1;
                grid-row: 2;
            }
        }
    }

    // onscroll
    #moyen_mat-outils {
        .grid-col-2[data-scroll-css-progress] {
            --offset-px: 15px;
            --offset-cards: calc(80px * (var(--progress, 0) - 0.35));
            --offset-cards1: min(calc(var(--offset-cards) - 0px), 0px);
            --offset-cards2: min(calc(var(--offset-cards) * 2 - 25px), 0px);
            --offset-cards3: min(calc(var(--offset-cards) * 3 - 50px), 0px);
            .card-content:nth-child(1) { transform: translate3d(var(--offset-cards1), 0, 0); }
            .card-content:nth-child(2) { transform: translate3d(calc(var(--offset-cards1) * -1), 0, 0); }
            .card-content:nth-child(3) { transform: translate3d(var(--offset-cards2), 0, 0); }
            .card-content:nth-child(4) { transform: translate3d(calc(var(--offset-cards2) * -1), 0, 0); }
            .card-content:nth-child(5) { transform: translate3d(var(--offset-cards3), 0, 0); }
            .card-content:nth-child(6) { transform: translate3d(calc(var(--offset-cards3) * -1), 0, 0); }

            .card-content { transition: transform var(--onscroll-transition); }
        }
    }
}


section[nav-anchor-section="experiences_pro"] {
    padding-bottom: var(--spacing-section-large);

    .section-head {
        margin-bottom: var(--spacing-mega);
        display: flex;
        align-items: baseline;

        > * {
            flex-grow: 1;
        }
        @media (min-width: $doc-half-m) {
            .anchor-title {
                margin-right: var(--anchor-side-margin);
            }
        }


        h2 {
            display: inline;
            flex-grow: 0;
            flex-shrink: 1;
        }

        @media (max-width: $doc-half) {
            flex-direction: column;

            .anchor-title {
                margin-bottom: var(--spacing-super);
            }
        }
    }

    #exp_pro-table {
        @include flex-v;
        padding-bottom: var(--spacing-section-medium);

        .icons {
            svg {
                size: 3.2rem;
                --stroke-width: 5px;
            }
        }

        // @include spacing-v-children(var(--spacing-large));
        > * {
            width: 100%;
            row-gap: var(--spacing-large);
            &:not(:last-child) {
                border-bottom: var(--stroke);

                padding-bottom: var(--spacing-large-super);
                margin-bottom: var(--spacing-large-super);
                @media (max-width: $doc-half) {
                    padding-bottom: var(--spacing-super);
                    margin-bottom: var(--spacing-super);
                }
            }

            > * {
                grid-row: 1;
                @include spacing-v-children-reverse(var(--spacing-small));
            }
            > *:nth-child(1) {
                grid-column: 1 / 4;
            }
            > *:nth-child(2) {
                grid-column: 3 / 7;
            }
            > *:nth-child(3) {
                grid-column: 7 / -1;
            }

            @media (min-width: $doc-half-m) {
                > * {
                    &:not(:last-child) { width: calc(100% - var(--spacing-small)); }
                }
                > *:nth-child(1) {
                    padding-right: var(--doc-col-width);
                }
                > *:nth-child(2) {
                    padding-right: var(--doc-col-width);
                }
            }

            @media (max-width: $doc-half) {
                > *:nth-child(1) {
                    grid-column: 8 / -1;
                }
                > *:nth-child(2) {
                    grid-column: 1 / 8;
                }
                > *:nth-child(3) {
                    grid-column: 1 / -1;
                    grid-row: 2;
                }
            }
            @media (max-width: $doc-phone) {
                > *:nth-child(1) {
                    grid-column: 5 / -1;
                }
                > *:nth-child(2) {
                    grid-column: 1 / 5;
                }
            }
        }
    }
}


section[nav-anchor-section="autodidacte"] {
    padding-bottom: var(--spacing-section-large);

    .grid-col-1 {
        row-gap: var(--spacing-super);
    }

    .video-container {
        @include doc-margin-small-w;
        height: min-content;
        grid-column: 1 / -1;
        height: 40vh;
    }

    .ggrid {
        padding: var(--spacing-large-super) _; // calc(var(--doc-col-width) + var(--doc-gutter))

        .title {
            grid-column: 2 / 7;
        }

        .content {
            grid-column: 7 / -2;
            padding-left: var(--doc-col-width);
        }

        @media (max-width: $doc-half) {
            padding: _ var(--doc-margin);

            .title,
            .content {
                grid-column: 1 / -1;
            }

            .content {
                grid-row: 2;
                padding-left: 0;
                padding-top: var(--spacing-large-super);
            }
        }
    }
}
