html[page="home"] {
    section[nav-anchor-section="landing"] {
    }
}


section[nav-anchor-section="showreel"] {
    padding-top: var(--spacing-section-medium);
    padding-bottom: var(--spacing-section-medium-large);

    .showreel-container {
        grid-column: 1 / -4;
        padding-right: var(--doc-col-width);

        @media (max-width: $doc-phone) {
            grid-column: 1 / -1;
            grid-row: 2;
            padding-right: 0;
        }

        .showreel-in {
            aspect-ratio: 16 / 9;
        }

        video {
            size: 100%;
        }

        span {
            z-index: 100;
            position: absolute;
            left: 0;
            bottom: 0;
            margin: var(--doc-corner-items);
        }
    }

    h2 {
        z-index: 100;
        position: relative;
        top: -0.7em;
        grid-column: -6 / -1;

        @media (max-width: $doc-phone) {
            top: 0;
            margin-bottom: var(--spacing-small);
            grid-column: 1 / -1;
        }
    }
}


section[nav-anchor-section="approche"] {
    .section-head {
        padding-bottom: var(--spacing-section-small);
        row-gap: var(--spacing-super);

        .anchor-title {
            grid-column: 2 / 3;
        }

        h2 {
            grid-column: 4 / -2;
        }

        @media (max-width: $doc-half) {
            h2 {
                grid-column: 1 / -1;
                grid-row: 2;
            }
        }
    }
    .section-side_to_side {
        padding-bottom: var(--spacing-section-large);

        wrapper {
            margin: var(--spacing-section-small) _ ;
        }

        > .media-container:nth-child(1) {
            grid-column: 1 / 6;

            @media (max-width: $doc-phone) {
                grid-column: 1 / -2;
            }
        }
        > .content-container:nth-child(2) {
            grid-column: 7 / -2;

            @media (max-width: $doc-half) {
                grid-column: 7 / -1;
            }

            @media (max-width: $doc-phone) {
                padding-left: calc(var(--doc-col-width) / 2);

                wrapper {
                    padding-left: var(--offset-grid);
                }
            }
        }

        .card-content {
            width: calc((var(--doc-col-width) * 4) + (var(--doc-gutter) * 3));

            &:nth-child(2n + 1) {
                margin-left: calc(var(--doc-col-width) + var(--doc-gutter));
            }

            @media (max-width: $doc-half) {
                width: calc((var(--doc-col-width) * 6) + (var(--doc-gutter) * 3));

                &:nth-child(2n + 1) {
                    margin-left: calc(var(--doc-col-width) / 2 + var(--doc-gutter));
                }
            }
            @media (max-width: $doc-phone) {
                width: calc((var(--doc-col-width) * 5) + (var(--doc-gutter) * 3));

                &:nth-child(2n + 1) {
                    margin-left: calc(var(--doc-col-width) / 2 + var(--doc-gutter));
                }
            }
        }
    }
}