$doc-phone: 700px;
$doc-tablet: 1300px;
$doc-half: 960px;

$doc-phone-m: ($doc-phone + 0.1);
$doc-tablet-m: ($doc-tablet + 0.1);
$doc-half-m: ($doc-half + 0.1);

:root {
    --rgb-main-lift: 235, 220, 210;
    --rgb-main-accent: var(--rgb-main-fill);
    --rgb-main-fill: 24, 12, 15;
    --rgb-main-bg: 253, 245, 241;

    --placeholder: #D9D9D9;

    --stroke-w: 2px;
    --stroke: var(--stroke-w) solid var(--fill);

    --txt-body-size: 2.1rem;

    --onscroll-transition: 0.3s cubic-bezier(0, 0.2, 0.3, 1);

    --spacing-mini: 1rem;
    --spacing-small: 1.5rem;
    --spacing-small-medium: 2rem;
    --spacing-medium: 2.5rem;
    --spacing-medium-large: 3rem;
    --spacing-large: 4rem;
    --spacing-large-super: 5rem;
    --spacing-super: 6rem;
    --spacing-mega: 8rem;

    --spacing-section-small: 10rem;
    --spacing-section-medium: 14rem;
    --spacing-section-medium-large: 18rem;
    --spacing-section-large: 25rem;

    --anchor-side-margin: var(--spacing-small-medium);
}
@media (max-width: $doc-phone) {
    :root {
        --spacing-small: 1.25rem;
        --spacing-small-medium: 1.6rem;
        --spacing-medium: 2rem;
        --spacing-medium-large: 2.35rem;
        --spacing-super: 5rem;

        --spacing-section-small: 7rem;
        --spacing-section-medium: 10rem;
        --spacing-section-medium-large: 12rem;
        --spacing-section-large: 18rem;
    }
}
::selection {
    color: var(--bg);
    background-color: var(--accent);
}

// scale
html {
    font-size: 10px;

    @media (max-width: $doc-tablet) {
        scroll-behavior: smooth;
    }
}

@media (min-width: $doc-phone-m) {
    .display-phone { display: none !important; }
}
@media (min-width: $doc-tablet-m) {
    .display-tablet { display: none !important; }
}
@media (min-width: $doc-half-m) {
    .display-half { display: none !important; }
}

@media (max-width: $doc-phone) {
    .display-pc--phone { display: none !important; }
}
@media (max-width: $doc-tablet) {
    .display-pc--tablet { display: none !important; }
}
@media (max-width: $doc-half) {
    .display-pc--half { display: none !important; }
}


// HIERARCHY
ggrid { z-index: 99999; }
page-transition-blocker { z-index: 9990; }
nav-bar { z-index: 9900; }
nav-menu { z-index: 9900; }
[boom-main-container] { z-index: 9700; }
nav-anchors { z-index: 9600; }
page-transition-anim { z-index: 8000; }
main { z-index: 100; }


// default text
@mixin txt-w-425 {
    font-weight: 425;
}
@mixin txt-w-450 {
    font-weight: 450;
}
@mixin txt-w-medium {
    font-weight: 500;
}
@mixin txt-w-550 {
    font-weight: 550;
}
@mixin txt-w-semibold {
    font-weight: 600;
    letter-spacing: -0.025em;
}
@mixin txt-w-semibold_italic {
    @include txt-w-semibold;
    font-style: italic;
}
.txt-w-450 {
    @include txt-w-450;
}
.txt-w-medium {
    @include txt-w-medium;
}
.txt-w-550 {
    @include txt-w-550;
}
.txt-w-semibold {
    @include txt-w-semibold;
}
.txt-w-semibold_italic, p ba {
    @include txt-w-semibold_italic;
}
.txt-italic {
    font-style: italic;
}
.txt-underline {
    text-decoration: underline;
}
.txt-accent, p aa {
    color: var(--accent);
}
.bg-accent {
   background-color: var(--accent);
}

@mixin txt-normal($ts : var(--txt-size-morph)) {
    color: var(--fill);

    line-height: 130%;
    word-spacing: 0.015em;
    letter-spacing: -0.035em;

    font-size: var(--txt-body-size);
    font-size: calc($ts * 2.1);

    @media (max-width: $doc-phone) {
        font-size: calc(var(--doc-txt-size-mobile) * 2.1);
    }
}
@mixin font-base-WorkSans {
    font-family: "Work Sans", sans-serif;

    font-variant-ligatures: contextual;
    font-variant-numeric: ordinal;
    font-feature-settings: "liga", "clig", "calt", "ss04";

    text-decoration: none;
}
@mixin font-base-BricolageGrotesque {
    font-family: "Bricolage Grotesque", serif;
    font-variant-ligatures: contextual;
    font-variant-numeric: ordinal;
    font-feature-settings: "liga", "clig", "calt";
}

body,
p, span, a,
h4, h5, h6, h-subtitle {
    @include font-base-WorkSans;
}
body,
p, span, a,
h4, h5, h6, h-subtitle,
.txt-underline {
    text-underline-offset: 0.2em !important;
    text-decoration-thickness: var(--stroke-w) !important;
}
body {
    @include txt-normal;
    @include txt-w-450;
}
span, p, button, .txt-inherit {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-feature-settings: inherit;
}

.num-mono {
    font-variant-numeric: tabular-nums;
}
.num-super {
    font-variant-position: super;
}
.num-sub {
    font-variant-position: sub;
}
.num-fraction {
    font-variant-numeric: diagonal-fractions;
}

.paragraph-balance {
    text-wrap: balance;
}

// paragraph spacing
p + p {
    display: inline-block;
    margin-top: 0.75em;
}
.span-spacing > span + span,
p + span,
span + p {
    display: inline-block;
    margin-top: 0.5rem;
}
p + .keywords, span + .keywords { margin-top: var(--spacing-small); }

// TITLES
h1, h2, h3, *[class*="doc-title-big-"],
h4, h5, h6, h-subtitle {
    display: inline-block;
}
h1, h2, h3, *[class*="doc-title-big-"] {
    @include font-base-BricolageGrotesque;
}
h1, .doc-title-big-1 {
    letter-spacing: -0.06em;
    line-height: 100%;
    font-variation-settings:
        "wdth" 100,
        "wght" 600,
        "opsz" 12;

    font-size: 7.35rem;
    &.size-ggrid {
        font-size: calc(var(--txt-size-ggrid) * 7.35);
    }

    @media (max-width: $doc-phone) {
        font-variation-settings:
            "wdth" 100,
                "wght" 675,
            "opsz" 12;
        font-size: 6.6rem;
        &.size-ggrid {
            font-size: calc(var(--txt-size-ggrid) * 6.6);
        }
    }
}
h2, .doc-title-big-2 {
    letter-spacing: -0.065em;
    line-height: 100%;
    font-variation-settings:
        "wdth" 100,
        "wght" 500,
        "opsz" 12;

    font-size: 9rem;
    &.size-ggrid {
        font-size: calc(var(--txt-size-ggrid) * 9);
    }

    @media (max-width: $doc-half) {
        font-variation-settings:
            "wdth" 100,
                "wght" 600,
            "opsz" 12;
        font-size: 6rem;
        &.size-ggrid {
            font-size: calc(var(--txt-size-ggrid) * 6);
        }
    }
}
h3, .doc-title-big-3 {
    letter-spacing: -0.05em;
    line-height: 95%;
    font-variation-settings:
        "wdth" 100,
        "wght" 500,
        "opsz" 12;

    font-size: 6.5rem;
    &.size-ggrid {
        font-size: calc(var(--txt-size-ggrid) * 6.5);
    }

    @media (max-width: $doc-half) {
        font-variation-settings:
            "wdth" 100,
                "wght" 600,
            "opsz" 12;
        font-size: 4.5rem;
        &.size-ggrid {
            font-size: calc(var(--txt-size-ggrid) * 4.5);
        }
    }
}

h4 {
    font-weight: 550;
    letter-spacing: -0.05em;
    line-height: 110%;

    font-size: 4.5rem;
    @media (max-width: $doc-phone) {
        font-size: 4rem;
    }
}
h5 {
    @include txt-w-semibold;
    letter-spacing: -0.035em;
    line-height: 110%;

    font-size: 3.2rem;
    @media (max-width: $doc-phone) {
        font-size: 2.8rem;
    }
}
h6 {
    font-weight: 550;
    letter-spacing: -0.03em;
    line-height: 125%;

    font-size: 2.4rem;
    @media (max-width: $doc-phone) {
        font-weight: 600;
        font-size: 2.1rem;
    }
}

h-subtitle {
    font-size: 2.4rem;
    font-weight: 450;
    letter-spacing: -0.03em;
    line-height: 125%;

    @media (max-width: $doc-phone) {
        font-size: var(--txt-body-size);
    }
}


// LAYOUT
* {
    border-color: inherit;
    color: inherit;
}

section[nav-anchor-section] {
    width: 100%;
}
section[nav-anchor-section="landing"] {
    min-height: 100vh;
}

.sep {
    display: block;
    position: relative;
    width: 100%;

    border-bottom: var(--stroke);
    &.b-top,
    &.b-left,
    &.b-right
    { border-bottom: 0; }

    &.b-top { border-top: var(--stroke); }
    &.b-left { border-left: var(--stroke); }
    &.b-right { border-right: var(--stroke); }

    --sep-side-margin: var(--anchor-side-margin);
    &.mr { width: calc(100% - var(--sep-side-margin)); margin-right: var(--sep-side-margin); }
    &.ml { margin-left: var(--sep-side-margin); }
}

@mixin spacing-h-siblings($sp : 1em) {
    &:not(:last-child) {
        margin-right: $sp;
    }
}
@mixin spacing-h-children($sp : 1em) {
    > *:not(:last-child) {
        margin-right: $sp;
    }
}
@mixin spacing-h-siblings-reverse($sp : 1em) {
    &:not(:first-child) {
        margin-left: $sp;
    }
}
@mixin spacing-h-children-reverse($sp : 1em) {
    > *:not(:first-child) {
        margin-left: $sp;
    }
}

@mixin spacing-v-siblings($sp : 1em) {
    &:not(:last-child) {
        margin-bottom: $sp;
    }
}
@mixin spacing-v-children($sp : 1em) {
    > *:not(:last-child) {
        margin-bottom: $sp;
    }
}
@mixin spacing-v-siblings-reverse($sp : 1em) {
    &:not(:first-child) {
        margin-top: $sp;
    }
}
@mixin spacing-v-children-reverse($sp : 1em) {
    > *:not(:first-child) {
        margin-top: $sp;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-v {
    display: flex;
    justify-content: center;
}
@mixin flex-center-h {
    display: flex;
    align-items: center;
}
@mixin flex-v {
    display: flex;
    flex-direction: column;
}
@mixin flex-h {
    display: flex;
    flex-direction: row;
}
@mixin flex-hr {
    display: flex;
    flex-direction: row-reverse;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-h {
    @include flex-h;
}
.flex-v {
    @include flex-v;
}
.flex-center {
    @include flex-center;
}
.flex-center-h {
    @include flex-center-h;
}
.flex-center-v {
    @include flex-center-v;
}
.flex-between {
    @include flex-between;
}
.flew-wrap {
    flex-wrap: wrap;
}
.flex-fill {
    display: flex;

    > * {
        flex-grow: 1;
    }
}
@media (max-width: $doc-phone) {
    .m--flex-col {
        flex-direction: column;
    }
    .m--flex-row {
        flex-direction: row;
    }
}

@mixin media-touch-not() {
    @media (hover: hover) and (pointer: fine) {
        @content;
    }
}
@mixin media-touch-only() {
    @media (hover: none) and (pointer: coarse) {
        @content;
    }
}


// ELEMENTS
section[nav-anchor-section^="landing"] + * {
    padding-top: var(--spacing-section-medium-large);
}
.section-head {
    margin-bottom: var(--spacing-section-small);
    row-gap: var(--spacing-super);
}

*[onscroll-zoom_in] {
    transform: scale(var(--zoom-factor, 1));

    *[onscroll-zoom_in--in] {
        transform: scale(calc((1 - var(--zoom-factor, 1)) + 1));
    }
}
*[onscroll-zoom_in], *[onscroll-zoom_in--in] {
    transition: transform var(--onscroll-transition);
}

.invert-color {
    @supports (mix-blend-mode: difference) {
        mix-blend-mode: difference;
        color: var(--fill-invert);
    }
}

[layout] {
    overflow: hidden;
    border-radius: var(--doc-corner-items);
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}
[layout] > img,
[layout] > video {
    size: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

svg {
    user-select: none;
    overflow: visible;
    stroke: transparent;
    font-size: 6.4rem;
    size: 1em;

    --svg-fill: var(--fill);
    --svg-stroke: var(--fill);
    fill: var(--svg-fill);
    stroke: var(--svg-stroke);
    stroke-width: 0;

    &[id^="icon-"] {
        fill: transparent;
    }

    --stroke-width: 5px;

    &.fill, .fill {
        fill: var(--svg-fill);
    }
    &.fill-i, .fill-i {
        fill: var(--svg-fill) !important;
    }
    &.stroke, .stroke {
        stroke-width: var(--stroke-width);
    }
    &.rounded, .rounded {
        stroke-linecap: round;
    }

    &.only-fill, .only-fill {
        fill: var(--svg-fill);
        stroke: transparent;
        stroke-width: 0;
    }
    &.only-stroke, .only-stroke {
        fill: transparent;
        stroke: var(--svg-stroke);
        stroke-width: var(--stroke-width);
    }
}
.svg-accent svg {
    --svg-fill: var(--accent);
    --svg-stroke: var(--accent);
}
.icon-arrow {
    --stroke-width: 6px;

    * {
        fill: transparent;
        stroke: var(--fill);
    }

    line {
        stroke-width: calc(var(--stroke-width) / 2);
    }
    polyline {
        stroke-width: var(--stroke-width);
        stroke-linecap: round;
    }
}

@keyframes scroll-down-notice {
    0%   { transform: translate3d(0, -120%, 0) rotateZ(90deg); }
    25%  { transform: translate3d(0, 0%, 0) rotateZ(90deg); }
    80%  { transform: translate3d(0, 0%, 0) rotateZ(90deg); }
    100% { transform: translate3d(0, 120%, 0) rotateZ(90deg); }
}
.scroll-down-notice {
    display: flex;

    svg {
        transform: rotateZ(90deg);
    }

    .btn-interaction {
        overflow: hidden;

        svg {
            animation: scroll-down-notice 3.5s cubic-bezier(0.35, 0.4, 0.25, 1) infinite;
        }
    }
}

.ico-txt {
    @include flex-center-h;
    --ico-size: 1em;
    --ico-spacing: 1.2rem;
    --ico-url: "";

    > *:first-child {
        margin-right: var(--ico-spacing);
    }
    > svg:first-child {
        font-size: var(--ico-size);
    }
    > div:first-child:not(:last-child) {
        size: var(--ico-size);
    }
}
/* a.ico-txt:hover svg {
    --stroke-width: 8px;
} */

*:not(.btn-pill) > a {
    @include txt-normal;

    &.fat,
    &.fat:visited {
        @include txt-w-semibold;
        text-decoration: underline;
    }

    &.minimal {
        @include txt-w-450;
        text-decoration: none;
    }

    &:hover, &:focus {
        outline: none;
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

.logo {
    &.align-baseline, &.align-center {
        display: flex;
        align-items: flex-end;

        svg {
            width: 100%;
            height: auto;
        }
    }

    &.align-center {
        align-items: center;
    }
}

.anchor-title {
    display: block;
    position: relative;
    &.fill_width { width: 100%; }
    &:not(.no-min_width) { min-width: var(--doc-col-width); }

    @include txt-w-semibold;
    font-size: 2.4rem;
    letter-spacing: -0.03em;
    line-height: 1;
    &.align-right { text-align: right; }
    &.align-left { text-align: left;}

    &.mr > span { margin-right: var(--anchor-side-margin); }
    &.ml > span { margin-left: var(--anchor-side-margin); }

    > span {
        display: inline-block;
        position: relative;
        padding-bottom: var(--spacing-medium);
        border-bottom: var(--stroke);
    }

    &.expand-left > span::before,
    &.expand-right > span::after {
        content: "";
        position: absolute;
        top: 100%;
        width: 100vw;
        height: 0;
        border-bottom: var(--stroke);
        pointer-events: none;
    }
    &.expand-left > span::before {
        right: 99%;
    }
    &.expand-right > span::after {
        left: 99%;
    }

    &.offset-h2-baseline { // align the line to the baseline
        margin-top: 2.5rem;
    }
}
nav-anchors {
    position: relative;

    [nav-anchor-link] {
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            width: 0;
            height: var(--stroke-w);
            background-color: var(--nav-fill);

            transition: opacity 0s ease, width 0.6s cubic-bezier(0.3, 0.4, 0, 1);
        }

    }
    &.active-pause [nav-anchor-link]::after,
    [nav-anchor-link]:not(.active)::after {
        right: 0;
    }
    &:not(.active-pause) [nav-anchor-link].active::after {
        width: 100%;
        left: 0;
        transition: opacity 0s ease, width 0.6s cubic-bezier(0.3, 0.7, 0, 1);
    }

    span {
        font-size: 1.6rem;
        letter-spacing: -0.01em;
        line-height: 1;
        @include txt-w-450;
    }
}

@mixin stroke-around($radius : var(--doc-corner-items)) {
    border: var(--stroke);
    border-radius: $radius;
}
@mixin stroke-accent {
    border-color: var(--accent) !important;
}
.stroke-around {
    @include stroke-around;
}
.stroke-accent {
    @include stroke-accent;
}
.stroke-no, .lift-high, .lift-high2, .lift {
    border-color: transparent !important;
}

.bg_color-bg, .lift-high, .lift-high2 {
    background-color: var(--bg) !important;
}
.bg_color-bg_d {
    background-color: var(--bg-default) !important;
}
.bg_color-bg_d50 {
    background-color: var(--bg-default-50) !important;
}
.bg_color-fill {
    background-color: var(--fill) !important;
}
.bg_color-accent {
    background-color: var(--accent) !important;
    color: var(--bg) !important;
}

.lift, .lift-bg {
    background-color: var(--lift) !important;
}


.filter-strong {
    filter: saturate(1.6) brightness(1.1) contrast(1);
}
.filter-saturate-high, .lift-filter2 {
    filter: saturate(1.3) brightness(0.975) contrast(1.5);
}
.filter-saturate, .lift-filter {
    filter: saturate(1.3) brightness(0.94) contrast(1.5);
}
.filter-saturate-low {
    filter: saturate(1.2) brightness(0.89) contrast(1.55);
}
.filter-bright {
    filter: saturate(1.3) brightness(1.15) contrast(0.9);
}
.filter-darker {
    filter: saturate(1.4) brightness(0.95);
}
.filter-heavy {
    filter: saturate(1.6) brightness(0.9) contrast(1.3);
}

.high {
    display: inline-block;
    @include txt-normal;
    @include txt-w-550;
    padding: 1rem 1.5rem;
    @include stroke-around(2.5rem);

    &.fill_width {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.keywords {
    font-size: 1.5rem;
    @include txt-w-semibold;
    line-height: 135%;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    > span {
        display: inline-block;

        &:not(:last-child) {
            &::after {
                content: "·";
                display: inline-block;
                margin: _ 0.5em;
            }
        }
    }
}

@mixin low-fill-o {
    opacity: var(--low-fill-o);
}
@mixin low-bg-o {
    opacity: var(--low-bg-o);
}
.low, p low {
    @include low-fill-o;
}
.low-bg {
    @include low-bg-o;
}

@mixin txt-low {
    color: var(--fill-low);
}
@mixin txt-low-bg {
    color: var(--bg-low);
}
@mixin txt-low-accent {
    color: var(--accent-low);
}
.txt-low {
    @include txt-low;
}
.txt-low-bg {
    @include txt-low-bg;
}
.txt-low-accent {
    @include txt-low-accent;
}

.tip {
    font-size: 0.75em;
}
.tip-hover-bottom {
    position: relative;

    .tip {
        --anim-offset: 0em;
        pointer-events: none;
        position: absolute;
        top: calc(100% + var(--anim-offset));
        left: 0;
    }
    .tip:not(.no-hover) {
        opacity: 0;
        transform: translateY(-0.5em);
        transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.5, 0.4, 0, 1);
    }
    &:hover .tip:not(.no-hover) {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.4s ease, transform 0.6s cubic-bezier(0.2, 0.65, 0, 1);
    }
}
p key {
    @include txt-w-semibold;
    line-height: 1;
    letter-spacing: 0;
    padding: 0.1em 0.3em;
    border-radius: 0.4em;
    border: rgba(var(--bg-rgb), 0.2) solid 1px;
    background-color: rgba(var(--bg-rgb), 0.15);
}

.btn-interaction {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transform: scale(1);
    transition: opacity 0.4s ease, transform 0.6s cubic-bezier(0.2, 0.65, 0, 1);

    // pc only
    @include media-touch-not {
        &:hover {
            opacity: var(--hover-o);
            transition-duration: 0.1s, 0.8s;
            transition-delay: 0s;
        }
    }
    &:active {
        transform: scale(0.935);
        transition: opacity 0.4s ease, transform 0.035s linear;
        transition-delay: 0s;
    }

    // touch screens only
    @include media-touch-only {
        &:active {
            opacity: var(--hover-o);
            transform: scale(0.9);
            transition: opacity 0.1s ease, transform 0.025s linear;
            transition-delay: 0s;
        }
    }
}


// BUTTON PILL
.btn-pill {
    flex-grow: 0;
    flex-shrink: 0;

    button, a {
        display: inline-flex;
        align-items: center;
        flex-direction: row;

        @include stroke-around;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: var(--spacing-small) var(--spacing-large);
        padding-left: 0;

        @include spacing-h-children(var(--spacing-small));
    }

    svg {
        size: 2.4rem;
    }

    span {
        font-size: 2.4rem;
        @include txt-w-550;
    }

    &.fill_width {
        width: 100%;

        > * {
            width: 100%;
            justify-content: space-between;
        }
    }
}

// BOOM
[boom-main-container], [boom-container] {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
}

.boom {
    --boom-x: 50vw;
    --boom-y: 50vh;
    --boom-rotate: 0deg;
    left: var(--boom-x);
    top: var(--boom-y);
    transform: rotateZ(var(--boom-rotate));

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: 0s;

    .circle {
        --boom-size: 0px;
        width: var(--boom-size);
        height: var(--boom-size);

        position: absolute;
        border-radius: 999vw;
        transition: 0s;

        // default values
        --boom-fadeout-time: 1500ms;
        --tr-boom-grow: 1s cubic-bezier(0.35, 0.65, 0.15, 1);
        --tr-boom-color: 0.65s 0.125s cubic-bezier(0.5, 0.7, 0, 1);

        opacity: 0.5;
        background-color: var(--accent);

        &.final-style {
            transition: opacity var(--boom-fadeout-time) cubic-bezier(0.2, 0.7, 0.5, 1),
                        width var(--tr-boom-grow), height var(--tr-boom-grow),
                        background-color var(--tr-boom-color);

            // background-color: var(--bg);
        }
    }

    /* &[special="btn-translate"] {
        .circle {
            background-color: var(--bg);
            --tr-boom-color: 1s 0s cubic-bezier(0.5, 0.7, 0, 1);

            &.final-style {
                background-color: var(--accent);
            }
        }
    } */
}


// CONTENT CARDS
.card-content {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;

    background-color: transparent;
    &[data-scroll]:not(.no-border) {
        background-color: var(--bg);
    }

    &:not(.no-border) {
        @include stroke-around;
        @include spacing-v-siblings(var(--spacing-medium-large));

        padding: var(--spacing-medium-large);
        @media (max-width: $doc-phone) {
            padding: var(--spacing-medium);
        }
    }
    &.sep-between-v {
        &:not(:last-child) { border-bottom: var(--stroke); }

        padding: var(--spacing-large) _;
        &:first-child { padding-top: 0; }
        &:last-child { padding-bottom: 0; }
    }


    flex-direction: column;
    @include spacing-v-children(var(--spacing-medium));

    @media (min-width: $doc-half-m) {
        &.inline {
            flex-direction: row;
            @include spacing-h-children(var(--spacing-medium-large));

            > * {
                width: auto;
                flex-grow: 1;
                flex-shrink: 1;
                margin-bottom: 0;
            }
        }
    }

    > * {
        display: block;
        width: 100%;
        height: auto;
    }

    // center
    &:not(.mini) {
        align-items: center;
        justify-content: center;

        > * {
            flex: 1;
            flex-grow: 0;
        }
    }

    .head {
        display: flex;
        align-items: center;

        @include spacing-h-children(var(--spacing-small));
    }
    &.head-right {
        .head {
            text-align: right;
            justify-content: space-between;
        }
    }
    .icon {
        flex-grow: 0;
        flex-shrink: 0;
        size: 1.5em;

        svg {
            size: 100%;
        }
    }
    img.icon {
        user-select: none;
        pointer-events: all;
        object-fit: contain;
    }

    .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        @include spacing-h-children-reverse(var(--spacing-small));

        > * {
            margin: calc(var(--spacing-small) / 3) _;
        }
    }

    &.mini {
        justify-content: space-between;
    }
    &.small {
        .icon {
            size: 4.5rem;
        }
    }
    &.medium {
        .head {
            @include spacing-h-children(var(--spacing-small-medium));

            .icon {
                size: 6.8rem;

                svg {
                    --stroke-width: 4px;
                }
            }
        }
    }
    &.medium-large {
        @include spacing-v-children(var(--spacing-small));

        .head {
            @include spacing-h-children(var(--spacing-small-medium));

            .icon {
                size: 6.4rem;

                svg {
                    --stroke-width: 4px;
                }
            }
        }
    }
    &.large {
        @include spacing-v-children(var(--spacing-medium-large));

        @media (min-width: $doc-half-m) {
            padding: var(--spacing-large-super);
        }
        @media (max-width: $doc-phone) {
            padding: var(--doc-margin);
        }

        .head {
            align-items: flex-start;

            > * {
                flex-grow: 1;
            }
            > *:last-child {
                flex-grow: 0;
                flex-shrink: 0;

                display: flex;
                flex-direction: column;
                text-align: right;
            }

            @media (max-width: $doc-half) {
                flex-direction: column;

                > *:last-child {
                    margin-top: var(--spacing-small);
                    text-align: left;
                }

                padding-bottom: 1em;
                margin-bottom: 1em;
                border-bottom: var(--stroke);
            }
        }
    }

    @include media-touch-not {
        &:not(.no-hover-hicon) {
            &:hover {
                .head .icon,
                .header .icon {
                    transform: scale(1.1) rotateZ(0.1deg);
                    transition: transform 0.5s cubic-bezier(0.2, 0.6, 0, 1);
                }
            }
            .head .icon,
            .header .icon {
                transform: scale(1) rotateZ(-0.1deg);
                transition: transform 0.5s cubic-bezier(0.2, 0.5, 0, 1);
            }
        }
    }
}

// SIDE TO SIDE
.section-side_to_side,
*[nav-anchor-section^="transition-"] {
    position: relative;
    align-items: center;
    // grid-template-columns: var(--doc-margin-small) repeat(var(--doc-grid-nb), minmax(0, 1fr)) var(--doc-margin-small);

    // anchor
    .anchor-container {
        height: auto;
        grid-column: 1 / -1;
        grid-row: 1;
        align-self: baseline;

        @media (min-width: $doc-phone-m) {
            position: absolute;
            top: var(--nav-height-min);
        }
        @media (max-width: $doc-half) {
            top: 0;
        }

        .anchor-title {
            grid-column: 2 / -1;
        }
    }
    @media (max-width: $doc-phone) {
        &.has-anchor {
            padding-top: var(--spacing-section-small);
        }
        .anchor-title {
            top: -150%;
        }
    }

    // left
    > .media-container:nth-child(1) {
        grid-column: 1 / 7;

        @media (max-width: $doc-phone) {
            grid-column: 1 / -2;
        }
    }
    > .content-container:nth-child(2) {
        grid-column: 8 / -2;

        @media (max-width: $doc-half) {
            grid-column: 7 / -1;
        }

        @media (max-width: $doc-phone) {
            padding-left: calc(var(--doc-col-width) / 2);

            wrapper {
                padding-left: var(--offset-grid);
            }
        }
    }

    // right
    > .content-container:nth-child(1) {
        grid-column: 2 / 7;

        @media (max-width: $doc-half) {
            grid-column: 1 / 7;
        }
        @media (max-width: $doc-phone) {
            padding-right: calc(var(--doc-col-width) / 2);

            wrapper {
                padding-right: var(--offset-grid);
            }
        }
    }
    > .media-container:nth-child(2) {
        grid-column: 7 / -1;

        @media (max-width: $doc-phone) {
            grid-column: 2 / -1;
        }
    }


    // global
    .media-container {
        height: 110vh;
        min-height: 100%;

        @media (max-width: $doc-half) {
            height: 60vh;
        }
        @media (max-width: $doc-phone) {
            height: 20vh;
        }
    }
    .content-container {
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: $doc-phone) {
            grid-column: 1 / -1 !important;
        }

        > wrapper {
            margin: var(--spacing-section-large) _ ;

            @include spacing-v-children(var(--spacing-super));
            .content {
                @include spacing-v-children(var(--spacing-large-super));

                p {
                    text-wrap: balance;

                    @media (min-width: $doc-phone-m) {
                        width: 75%;
                    }
                }
            }

            @media (max-width: $doc-phone) {
                --offset-grid: calc((var(--doc-col-width) / 2) + var(--doc-gutter));
            }
        }
    }
    @media (max-width: $doc-phone) {
        &:not(.m--bg-disect) .content-container > wrapper,
        &.m--bg-disect .content-container > wrapper > * {
            background-color: var(--bg);
            padding: var(--spacing-mega) _;
            border-radius: var(--doc-corner-items);
        }
        &:not(.m--bg-disect) .content-container > wrapper {
            padding: var(--spacing-mega) _;
        }
        &.m--bg-disect .content-container > wrapper {
            @include spacing-v-children(var(--spacing-large-super));
            padding: _ 0 !important;

            > * {
                padding: var(--spacing-large);
            }
        }
        &.m--bg-disect .content-container:nth-child(1) > wrapper {
            > * {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-left: 0;
            }
        }
        &.m--bg-disect .content-container:nth-child(2) > wrapper {
            > * {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding-right: 0;
            }
        }
    }
}

*[nav-anchor-section^="transition-"],
.section-transition {
    padding-bottom: var(--spacing-section-large);
}

.fill-to-margin-small--left,
.fill-to-margin-small--right,
.fill-to-margin-small--both {
    position: relative;
    --new-width: 100%; // fallback
    width: var(--new-width);
    max-width: var(--new-width);
}
.fill-to-margin-small--left,
.fill-to-margin-small--right {
    --new-width: calc(100% + var(--doc-margin-small-offset));
}
.fill-to-margin-small--left {
    left: var(--doc-margin-small-offset-i);
}
.fill-to-margin-small--right {
    left: 0;
}
.fill-to-margin-small--both {
    left: var(--doc-margin-small-offset-i);
    --new-width: calc(100% + (var(--doc-margin-small-offset) * 2));
}



// GLOBAL GRID
.ggrid,
ggrid {
    display: grid;
    // grid-template-columns: repeat(12, var(--doc-col-width));
    grid-template-columns: repeat(var(--doc-grid-nb), minmax(0, 1fr));
    gap: var(--doc-gutter);
    row-gap: calc(var(--doc-gutter) / 2);
    width: 100%;
    height: 100%;

    > * {
        grid-row: 1;
    }

    img {
        object-fit: cover;
    }
}

.ggrid-child-fill > * { grid-column: 1 / -1 !important; }
@media (max-width: $doc-phone) { .ggrid-child-fill--phone > * { grid-column: 1 / -1 !important; } }

.grid-center-v { align-items: center; }
.grid-center-h { justify-content: center; }

.grid-row-equal { grid-auto-rows: 1fr; }
@media (min-width: $doc-phone-m) { .grid-row-equal--pc-phone { grid-auto-rows: 1fr; } }
@media (max-width: $doc-phone) { .grid-row-equal--phone { grid-auto-rows: 1fr; } }


.grid-row-auto > * { grid-row: auto !important; }
@media (min-width: $doc-phone-m) { .grid-row-auto--pc-phone > * { grid-row: auto !important; } }
@media (max-width: $doc-phone) { .grid-row-auto--phone > * { grid-row: auto !important; } }


*[class*="grid-col"] {
    display: grid;
    gap: var(--doc-gutter);
    row-gap: var(--doc-gutter);

    + *[class*="grid-col"] {
        margin-top: var(--spacing-medium-large);
    }

    > * { margin-bottom: 0 !important; }

    row-gap: var(--spacing-medium-large);
    &.gap-item {
        @media (min-width: $doc-half-m) { gap: var(--spacing-medium-large); }
    }

    &.mcol--fill-phone {
        @media (max-width: $doc-phone) {
            grid-template-columns: 1fr;
        }
    }
    &.mcol--fill-half {
        @media (max-width: $doc-half) {
            grid-template-columns: 1fr;
        }
    }
}
.grid-col-3 {
    //grid-template-columns: repeat(3, calc((var(--doc-col-width) + var(--doc-gutter)) * 3));
    grid-template-columns: repeat(3, 1fr);

    &:not(.static) {
        @media (max-width: $doc-half) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $doc-phone) {
            grid-template-columns: 1fr;
        }
    }
}
.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);

    &:not(.static) {
        @media (max-width: $doc-phone) {
            grid-template-columns: 1fr;
        }
    }
}
.grid-col-1 {
    grid-template-columns: 1fr;
    > * { grid-column: 1 / -1; }
}


ggrid {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    padding: _ var(--doc-margin);
    width: 100%;
    height: 100vh;
    pointer-events: none;
    user-select: none;

    > * {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 90% center;
        transition: opacity 0.4s ease, transform 0.5s cubic-bezier(0.4, 0.8, 0, 1);
    }
    &.hidden > * {
        opacity: 0 !important;
        transform: scaleX(0);
        transform-origin: left center;
        transition: opacity 0.4s ease, transform 0.55s cubic-bezier(0.5, 0.8, 0, 1) !important;
    }

    > div {
        min-width: 1px;
        grid-column: span 1 / span 1;
        background-color: rgba(255, 0, 0, 0.1);

        @media (max-width: $doc-phone) {
            &.phone ~ div {
                display: none;
            }
        }
    }
}


// MARGIN
@mixin doc-margin {
    margin: _ var(--doc-margin);
}
@mixin doc-margin-p {
    box-sizing: border-box;
    padding: _ var(--doc-margin);
}
@mixin doc-margin-small-p {
    box-sizing: border-box;
    padding: _ var(--doc-margin-small);
}
@mixin doc-margin-w {
    @include doc-margin;
    width: calc(100% - (var(--doc-margin) * 2));
}
.doc-margin {
    @include doc-margin;
}
.doc-margin-p {
    @include doc-margin-p;
}
.doc-margin-small-p {
    @include doc-margin-small-p;
}
.doc-margin-w {
    @include doc-margin-w;
}

@mixin doc-margin-small {
    margin: _ var(--doc-margin-small);
}
@mixin doc-margin-small-w {
    @include doc-margin-small;
    width: calc(100% - (var(--doc-margin-small) * 2));
}
.doc-margin-small {
    @include doc-margin-small;
}
.doc-margin-small-w {
    @include doc-margin-small-w;
}

@mixin section-margin($bottom : 0) {
    @include doc-margin-p;
    margin-bottom: $bottom;
}
