$doc-phone: 700px;
$doc-tablet: 1300px;
$doc-half: 960px;

$doc-phone-m: ($doc-phone + 0.1);
$doc-tablet-m: ($doc-tablet + 0.1);
$doc-half-m: ($doc-half + 0.1);

:root {
    --rgb-main-accent: 200, 0, 100;
    --rgb-main-fill: 24, 12, 15;
    --rgb-main-bg: 253, 245, 241;

    --placeholder: #D9D9D9;

    --stroke-w: 2px;
    --stroke: var(--stroke-w) solid var(--fill);

    --txt-body-size: 2.1rem;

    --spacing-mini: 1rem;
    --spacing-small: 1.5rem;
    --spacing-small-medium: 2rem;
    --spacing-medium: 2.5rem;
    --spacing-medium-large: 3rem;
    --spacing-large: 4rem;
    --spacing-large-super: 5rem;
    --spacing-super: 6rem;
    --spacing-mega: 8rem;

    --spacing-section-small: 10rem;
    --spacing-section-medium: 14rem;
    --spacing-section-medium-large: 18rem;
    --spacing-section-large: 25rem;

    --anchor-side-margin: var(--spacing-small-medium);
}
@media (max-width: $doc-phone) {
    :root {
        --spacing-small: 1.25rem;
        --spacing-small-medium: 1.6rem;
        --spacing-medium: 2rem;
        --spacing-medium-large: 2.35rem;
        --spacing-super: 5rem;

        --spacing-section-small: 7rem;
        --spacing-section-medium: 10rem;
        --spacing-section-medium-large: 12rem;
        --spacing-section-large: 18rem;
    }
}

// scale
html {
    font-size: 10px;
}

@media (min-width: $doc-phone-m) {
    .display-phone { display: none !important; }
}
@media (min-width: $doc-tablet-m) {
    .display-tablet { display: none !important; }
}

@media (max-width: $doc-phone) {
    .display-pc--phone { display: none !important; }
}
@media (max-width: $doc-tablet) {
    .display-pc--tablet { display: none !important; }
}


// default text
@mixin txt-w-425 {
    font-weight: 425;
}
@mixin txt-w-450 {
    font-weight: 450;
}
@mixin txt-w-medium {
    font-weight: 500;
}
@mixin txt-w-550 {
    font-weight: 550;
}
@mixin txt-w-semibold {
    font-weight: 600;
}
@mixin txt-w-semibold_italic {
    @include txt-w-semibold;
    font-style: italic;
}
.txt-w-450 {
    @include txt-w-450;
}
.txt-w-medium {
    @include txt-w-medium;
}
.txt-w-550 {
    @include txt-w-550;
}
.txt-w-semibold {
    @include txt-w-semibold;
}
.txt-w-semibold_italic, p ba {
    @include txt-w-semibold_italic;
}
.txt-italic {
    font-style: italic;
}

@mixin txt-normal($ts : var(--txt-size-morph)) {
    color: var(--fill);

    line-height: 130%;
    word-spacing: 0.025em;
    letter-spacing: -0.03em;

    font-size: var(--txt-body-size);
    font-size: calc($ts * 2.1);

    @media (max-width: $doc-phone) {
        font-size: calc(var(--doc-txt-size-mobile) * 2.1);
    }
}
@mixin font-base-WorkSans {
    font-family: "Work Sans", sans-serif;

    font-variant-ligatures: contextual;
    font-variant-numeric: ordinal;
    font-feature-settings: "liga", "clig", "calt", "ss04";
}
@mixin font-base-BricolageGrotesque {
    font-family: "Bricolage Grotesque", serif;
    font-variant-ligatures: contextual;
    font-variant-numeric: ordinal;
    font-feature-settings: "liga", "clig", "calt";
}

body,
p, span, a,
h4, h5, h6, h-subtitle {
    @include font-base-WorkSans;

    text-decoration: none;
    text-underline-offset: 0.2em !important;
    text-decoration-thickness: var(--stroke-w) !important;
}
body {
    @include txt-normal;
    @include txt-w-450;
}
span, p, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    font-feature-settings: inherit;
}

.num-mono {
    font-variant-numeric: tabular-nums;
}
.num-super {
    font-variant-position: super;
}
.num-sub {
    font-variant-position: sub;
}
.num-fraction {
    font-variant-numeric: diagonal-fractions;
}

.paragraph-balance {
    text-wrap: balance;
}

// paragraph spacing
p + p {
    display: inline-block;
    margin-top: 0.75em;
}
.span-spacing > span + span,
p + span,
span + p {
    display: inline-block;
    margin-top: 0.5rem;
}

// TITLES
h1, h2, h3,
h4, h5, h6, h-subtitle {
    display: inline-block;
}
h1, h2, h3 {
    @include font-base-BricolageGrotesque;
}
h1 {
    letter-spacing: -0.06em;
    line-height: 100%;
    font-variation-settings:
        "wdth" 100,
        "wght" 600,
        "opsz" 12;

    font-size: 7.35rem;
    &.size-ggrid {
        font-size: calc(var(--txt-size-ggrid) * 7.35);
    }

    @media (max-width: $doc-phone) {
        font-variation-settings:
            "wdth" 100,
                "wght" 675,
            "opsz" 12;
        font-size: 6.6rem;
        &.size-ggrid {
            font-size: calc(var(--txt-size-ggrid) * 6.6);
        }
    }
}
h2 {
    letter-spacing: -0.065em;
    line-height: 100%;
    font-variation-settings:
        "wdth" 100,
        "wght" 500,
        "opsz" 12;

    font-size: 9rem;
    &.size-ggrid {
        font-size: calc(var(--txt-size-ggrid) * 9);
    }

    @media (max-width: $doc-phone) {
        font-variation-settings:
            "wdth" 100,
                "wght" 600,
            "opsz" 12;
        font-size: 6.35rem;
        &.size-ggrid {
            font-size: calc(var(--txt-size-ggrid) * 6.35);
        }
    }
}
h3 {
    letter-spacing: -0.05em;
    line-height: 95%;
    font-variation-settings:
        "wdth" 100,
        "wght" 500,
        "opsz" 12;

    font-size: 6.5rem;
    &.size-ggrid {
        font-size: calc(var(--txt-size-ggrid) * 6.5);
    }

    @media (max-width: $doc-phone) {
        font-size: 5.8rem;
        &.size-ggrid {
            font-size: calc(var(--txt-size-ggrid) * 5.8);
        }
    }
}

h4 {
    font-weight: 550;
    letter-spacing: -0.05em;
    line-height: 110%;

    font-size: 4.5rem;
    @media (max-width: $doc-phone) {
        font-size: 4rem;
    }
}
h5 {
    @include txt-w-semibold;
    letter-spacing: -0.035em;
    line-height: 110%;

    font-size: 3.2rem;
    @media (max-width: $doc-phone) {
        font-size: 2.8rem;
    }
}
h6 {
    font-weight: 550;
    letter-spacing: -0.03em;
    line-height: 125%;

    font-size: 2.4rem;
    @media (max-width: $doc-phone) {
        font-weight: 600;
        font-size: 2.1rem;
    }
}

h-subtitle {
    font-size: 2.4rem;
    font-weight: 450;
    letter-spacing: -0.03em;
    line-height: 125%;

    @media (max-width: $doc-phone) {
        font-size: var(--txt-body-size);
    }
}


// LAYOUT
section[nav-anchor-section] {
    width: 100%;
}
section[nav-anchor-section="landing"] {
    min-height: 100vh;
}

.sep {
    display: block;
    position: relative;
    width: 100%;

    border-bottom: var(--stroke);
    &.b-top,
    &.b-left,
    &.b-right
    { border-bottom: 0; }

    &.b-top { border-top: var(--stroke); }
    &.b-left { border-left: var(--stroke); }
    &.b-right { border-right: var(--stroke); }

    --sep-side-margin: var(--anchor-side-margin);
    &.mr { width: calc(100% - var(--sep-side-margin)); margin-right: var(--sep-side-margin); }
    &.ml { margin-left: var(--sep-side-margin); }
}

@mixin spacing-h-siblings($sp : 1em) {
    &:not(:last-child) {
        margin-right: $sp;
    }
}
@mixin spacing-h-children($sp : 1em) {
    > *:not(:last-child) {
        margin-right: $sp;
    }
}
@mixin spacing-h-siblings-reverse($sp : 1em) {
    &:not(:first-child) {
        margin-left: $sp;
    }
}
@mixin spacing-h-children-reverse($sp : 1em) {
    > *:not(:first-child) {
        margin-left: $sp;
    }
}
@mixin spacing-h-small-siblings {
    &:not(:last-child) {
        margin-right: var(--spacing-small);
    }
}
@mixin spacing-h-small-children {
    > *:not(:last-child) {
        margin-right: var(--spacing-small);
    }
}
@mixin spacing-h-medium-siblings {
    &:not(:last-child) {
        margin-right: var(--spacing-medium);
    }
}
@mixin spacing-h-medium-children {
    > *:not(:last-child) {
        margin-right: var(--spacing-medium);
    }
}

@mixin spacing-v-siblings($sp : 1em) {
    &:not(:last-child) {
        margin-bottom: $sp;
    }
}
@mixin spacing-v-children($sp : 1em) {
    > *:not(:last-child) {
        margin-bottom: $sp;
    }
}
@mixin spacing-v-siblings-reverse($sp : 1em) {
    &:not(:first-child) {
        margin-top: $sp;
    }
}
@mixin spacing-v-children-reverse($sp : 1em) {
    > *:not(:first-child) {
        margin-top: $sp;
    }
}
@mixin spacing-v-small-siblings {
    &:not(:last-child) {
        margin-bottom: var(--spacing-small);
    }
}
@mixin spacing-v-small-children {
    > *:not(:last-child) {
        margin-bottom: var(--spacing-small);
    }
}
@mixin spacing-v-medium-siblings {
    &:not(:last-child) {
        margin-bottom: var(--spacing-medium);
    }
}
@mixin spacing-v-medium-children {
    > *:not(:last-child) {
        margin-bottom: var(--spacing-medium);
    }
}
@mixin spacing-v-medium-large-siblings {
    &:not(:last-child) {
        margin-bottom: var(--spacing-medium-large);
    }
}
@mixin spacing-v-medium-large-children {
    > *:not(:last-child) {
        margin-bottom: var(--spacing-medium-large);
    }
}
@mixin spacing-v-large-siblings {
    &:not(:last-child) {
        margin-bottom: var(--spacing-large);
    }
}
@mixin spacing-v-large-children {
    > *:not(:last-child) {
        margin-bottom: var(--spacing-large);
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-center-v {
    display: flex;
    justify-content: center;
}
@mixin flex-center-h {
    display: flex;
    align-items: center;
}
@mixin flex-v {
    display: flex;
    flex-direction: column;
}
@mixin flex-h {
    display: flex;
    flex-direction: row;
}
@mixin flex-hr {
    display: flex;
    flex-direction: row-reverse;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-center {
    @include flex-center;
}
.flex-center-h {
    @include flex-center-h;
}
.flex-center-v {
    @include flex-center-v;
}
.flex-between {
    @include flex-between;
}
.flew-wrap {
    flex-wrap: wrap;
}
.flex-fill {
    display: flex;

    & > * {
        flex-grow: 1;
    }
}
@media (max-width: $doc-phone) {
    .m--flex-col {
        flex-direction: column;
    }
    .m--flex-row {
        flex-direction: row;
    }
}


// ELEMENTS
svg {
    user-select: none;
    overflow: visible;
    stroke: transparent;
    font-size: 6.4rem;
    size: 1em;

    fill: var(--fill);
    stroke: var(--fill);
    stroke-width: 0;

    &[id^="icon-"] {
        fill: transparent;
    }

    --stroke-width: 5px;

    &.fill, .fill {
        fill: var(--fill);
    }
    &.stroke, .stroke {
        stroke-width: var(--stroke-width);
    }
    &.rounded, .rounded {
        stroke-linecap: round;
    }

    &.only-fill, .only-fill {
        fill: var(--fill);
        stroke: transparent;
        stroke-width: 0;
    }
    &.only-stroke, .only-stroke {
        fill: transparent;
        stroke: var(--fill);
        stroke-width: var(--stroke-width);
    }
}
.icon-arrow {
    --stroke-width: 6px;

    * {
        fill: transparent;
        stroke: var(--fill);
    }

    line {
        stroke-width: calc(var(--stroke-width) / 2);
    }
    polyline {
        stroke-width: var(--stroke-width);
        stroke-linecap: round;
    }
}

.ico-txt {
    @include flex-center-h;
    --ico-size: 1em;
    --ico-spacing: 1.2rem;
    --ico-url: "";

    > *:first-child {
        margin-right: var(--ico-spacing);
    }
    > svg:first-child {
        font-size: var(--ico-size);
    }
    > div:first-child:not(:last-child) {
        size: var(--ico-size);
    }
}
/* a.ico-txt:hover svg {
    --stroke-width: 8px;
} */

a {
    @include txt-normal;

    &.fat,
    &.fat:visited {
        @include txt-w-semibold;
        text-decoration: underline;
    }

    &.minimal {
        @include txt-w-450;
        text-decoration: none;
    }

    &:hover, &:focus {
        outline: none;
        text-decoration: underline;
        text-decoration-style: dotted;
    }

}

.logo {
    &.align-baseline, &.align-center {
        display: flex;
        align-items: flex-end;

        svg {
            width: 100%;
            height: auto;
        }
    }

    &.align-center {
        align-items: center;
    }
}

.anchor-title {
    display: block;
    position: relative;
    .fill_width { width: 100%; }

    @include txt-w-semibold;
    font-size: 2.4rem;
    letter-spacing: -0.03em;
    line-height: 1;
    &.align-right { text-align: right; }
    &.align-left { text-align: left;}

    &.mr > span { margin-right: var(--anchor-side-margin); }
    &.ml > span { margin-left: var(--anchor-side-margin); }

    > span {
        display: inline-block;
        position: relative;
        padding-bottom: var(--spacing-medium);
        border-bottom: var(--stroke);
    }

    &.expand-left > span::before,
    &.expand-right > span::after {
        content: "";
        position: absolute;
        top: 100%;
        width: 100vw;
        height: 0;
        border-bottom: var(--stroke);
        pointer-events: none;
    }
    &.expand-left > span::before {
        right: 99%;
    }
    &.expand-right > span::after {
        left: 99%;
    }

    &.offset-h2-baseline { // align the line to the baseline
        margin-top: 2.5rem;
    }
}
nav-anchors {
    position: relative;

    [nav-anchor-link] {
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            width: 0;
            height: var(--stroke-w);
            background-color: var(--nav-fill);

            transition: opacity 0s ease, width 0.6s cubic-bezier(0.3, 0.4, 0, 1);
        }

    }
    &.active-pause [nav-anchor-link]::after,
    [nav-anchor-link]:not(.active)::after {
        right: 0;
    }
    &:not(.active-pause) [nav-anchor-link].active::after {
        width: 100%;
        left: 0;
        transition: opacity 0s ease, width 0.6s cubic-bezier(0.3, 0.7, 0, 1);
    }

    span {
        font-size: 1.6rem;
        letter-spacing: -0.01em;
        line-height: 1;
        @include txt-w-450;
    }
}

@mixin stroke-around($radius : var(--doc-corner-items)) {
    border: var(--stroke);
    border-radius: $radius;
}
.high {
    display: inline-block;
    @include txt-normal;
    @include txt-w-550;
    padding: 1rem 1.5rem;
    @include stroke-around(2.5rem);

    &.fill_width {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.keywords {
    font-size: 1.5rem;
    @include txt-w-semibold;
    line-height: 115%;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    > span {
        &:not(:last-child) {
            &::after {
                content: "·";
                display: inline-block;
                margin: _ 0.5em;
            }
        }
    }
}

@mixin low-fill-o {
    opacity: var(--low-fill-o);
}
@mixin low-bg-o {
    opacity: var(--low-bg-o);
}
@mixin txt-low {
    color: var(--fill-low);
}
.low, p low {
    @include low-fill-o;
}
.low-bg {
    @include low-bg-o;
}
.txt-low {
    @include txt-low;
}

.tip {
    font-size: 0.75em;
}
.tip-hover-bottom {
    position: relative;

    .tip {
        --anim-offset: 0em;
        pointer-events: none;
        position: absolute;
        top: calc(100% + var(--anim-offset));
        left: 0;
    }
    .tip:not(.no-hover) {
        opacity: 0;
        transform: translateY(-0.5em);
        transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.5, 0.4, 0, 1);
    }
    &:hover .tip:not(.no-hover) {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.4s ease, transform 0.6s cubic-bezier(0.2, 0.65, 0, 1);
    }
}
p key {
    @include txt-w-semibold;
    line-height: 1;
    letter-spacing: 0;
    padding: 0.1em 0.3em;
    border-radius: 0.4em;
    border: rgba(var(--bg-rgb), 0.2) solid 1px;
    background-color: rgba(var(--bg-rgb), 0.15);
}

.btn-interaction {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transform: scale(1);
    transition: opacity 0.4s ease, transform 0.6s cubic-bezier(0.2, 0.65, 0, 1);

    // pc only
    @media(hover: hover) and (pointer: fine) {
        &:hover {
            opacity: var(--hover-o);
            transition-duration: 0.1s, 0.8s;
            transition-delay: 0s;
        }
    }
    &:active {
        transform: scale(0.935);
        transition: opacity 0.4s ease, transform 0.035s linear;
        transition-delay: 0s;
    }

    // touch screens only
    @media(hover: none) and (pointer: coarse) {
        &:active {
            opacity: var(--hover-o);
            transform: scale(0.9);
            transition: opacity 0.1s ease, transform 0.025s linear;
            transition-delay: 0s;
        }
    }
}


// CONTENT CARDS
.card-content {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;

    @include stroke-around;
    @include spacing-v-siblings(var(--spacing-medium-large));

    flex-direction: column;
    @include spacing-v-children(var(--spacing-medium));

    @media (min-width: $doc-half-m) {
        &.inline {
            flex-direction: row;
            @include spacing-h-children(var(--spacing-medium-large));

            > * {
                width: auto;
                flex-grow: 1;
                flex-shrink: 1;
                margin-bottom: 0;
            }
        }
    }

    > * {
        display: block;
        width: 100%;
        height: auto;
    }

    .head {
        display: flex;
        align-items: center;

        @include spacing-h-small-children;
    }
    .icon {
        flex-grow: 0;
        flex-shrink: 0;
        size: 1.5em;

        svg {
            size: 100%;
        }
    }
    img.icon {
        user-select: none;
        pointer-events: all;
        object-fit: contain;
    }

    .items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;

        @include spacing-h-children-reverse(var(--spacing-small));

        > * {
            margin: calc(var(--spacing-small) / 3) _;
        }
    }

    &.mini {
        justify-content: space-between;
    }
    &.small {
        .icon {
            size: 4.5rem;
        }
    }
    &.medium {
        justify-content: center;
        align-items: center;
        > * {
            flex: 1;
            flex-grow: 0;
        }

        .head {
            @include spacing-h-children(var(--spacing-small-medium));

            .icon {
                size: 6.8rem;

                svg {
                    --stroke-width: 4px;
                }
            }
        }
    }
    &.medium.head-right {
        .head {
            text-align: right;
            justify-content: space-between;
        }
    }
    &.large {
        padding: var(--spacing-large-super);
        @include spacing-v-children(var(--spacing-medium-large));

        .head {
            align-items: flex-start;

            > * {
                flex-grow: 1;
            }
            > *:last-child {
                flex-grow: 0;
                flex-shrink: 0;

                display: flex;
                flex-direction: column;
                text-align: right;
            }
        }
    }


    padding: var(--spacing-medium-large);
    @media (max-width: $doc-phone) {
        padding: var(--spacing-medium);
    }
}


// GLOBAL GRID
.ggrid,
ggrid {
    display: grid;
    // grid-template-columns: repeat(12, var(--doc-col-width));
    grid-template-columns: repeat(var(--doc-grid-nb), minmax(0, 1fr));
    gap: var(--doc-gutter);
    row-gap: calc(var(--doc-gutter) / 2);
    width: 100%;
    height: 100%;

    > * {
        grid-row: 1;
    }

    img {
        object-fit: cover;
    }
}

@media (max-width: $doc-phone) {
    .m--gg-fill > * {
        grid-column: 1 / -1 !important;
    }
}

.grid-row-equal {
    grid-auto-rows: 1fr;
}
.grid-row-auto > * {
    grid-row: auto !important;
}

*[class*="grid-col"] {
    display: grid;
    gap: var(--doc-gutter);

    + *[class*="grid-col"] {
        margin-top: var(--spacing-medium-large);
    }

    > * { margin-bottom: 0 !important; }

    row-gap: var(--spacing-medium-large);
    &.gap-item {
        @media (min-width: $doc-half-m) { gap: var(--spacing-medium-large); }
    }

    &.mcol--fill-phone {
        @media (max-width: $doc-phone) {
            grid-template-columns: 1fr;
        }
    }
    &.mcol--fill-half {
        @media (max-width: $doc-half) {
            grid-template-columns: 1fr;
        }
    }
}
.grid-col-3 {
    //grid-template-columns: repeat(3, calc((var(--doc-col-width) + var(--doc-gutter)) * 3));
    grid-template-columns: repeat(3, 1fr);

    &:not(.static) {
        @media (max-width: $doc-half) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $doc-phone) {
            grid-template-columns: 1fr;
        }
    }
}
.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);

    &:not(.static) {
        @media (max-width: $doc-phone) {
            grid-template-columns: 1fr;
        }
    }
}


ggrid {
    z-index: 99999;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    padding: _ var(--doc-margin);
    width: 100%;
    height: 100vh;
    pointer-events: none;
    user-select: none;

    > * {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 90% center;
        transition: opacity 0.4s ease, transform 0.5s cubic-bezier(0.4, 0.8, 0, 1);
    }
    &.hidden > * {
        opacity: 0 !important;
        transform: scaleX(0);
        transform-origin: left center;
        transition: opacity 0.4s ease, transform 0.55s cubic-bezier(0.5, 0.8, 0, 1) !important;
    }

    > div {
        min-width: 1px;
        grid-column: span 1 / span 1;
        background-color: rgba(255, 0, 0, 0.1);

        @media (max-width: $doc-phone) {
            &.phone ~ div {
                display: none;
            }
        }
    }
}


// MARGIN
@mixin doc-margin {
    margin: _ var(--doc-margin);
}
@mixin doc-margin-p {
    box-sizing: border-box;
    padding: _ var(--doc-margin);
}
.doc-margin {
    @include doc-margin;
}
.doc-margin-p {
    @include doc-margin-p;
}

@mixin section-margin($bottom : 0) {
    @include doc-margin-p;
    margin-bottom: $bottom;
}
