<!DOCTYPE html>
<html>
<head>
    <%= htmlWebpackPlugin.options.head_settings %>
    <title>Accueil&nbsp;&nbsp;·&nbsp;&nbsp;yolan.design</title>
</head>
<body>
    <%= htmlWebpackPlugin.options.noscript_error %>

    <span>test</span>
    <a class="fat" href="about">about</a>
    <a href="portfolio" class="minimal">portfolio</a>


    <span>Lorem ipsum dolor sit amet.</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptates perspiciatis iusto cum, ab nam ducimus nesciunt quisquam fugit tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus voluptates perspiciatis iusto cum, ab nam ducimus nesciunt quisquam fugit tenetur.</p>
    <p>Delectus voluptates perspiciatis iusto cum, ab nam ducimus nesciunt quisquam fugit tenetur.</p>

    <div class="sep"></div>

    <h1>Lorem ipsum dolor sit amet.</h1>
    <h-subtitle>Lorem ipsum dolor sit amet.</h-subtitle>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <h4>Lorem ipsum dolor sit amet.</h4>
    <h5>Lorem ipsum dolor sit amet.</h5>
    <h6>Lorem ipsum dolor sit amet.</h6>

    <div class="anchor-title">Test</div>
    <div class="anchor-title ml">Test</div>
    <div class="anchor-title mr">Test</div>

    <div class="txt-low">Test</div>

    <div class="high">Lorem ipsum dolor sit amet.</div>
    <div class="high">Lorem ipsum dolor<br>sit amet.</div>
    <div class="high fill_width">Lorem ipsum dolor sit amet.</div>

    <div class="keywords">Lorem ipsum dolor sit amet.</div>
    <div class="keywords"><span>Lorem</span><span>Lorem</span><span>Lorem</span><span>Lorem</span></div>
    <div class="keywords low">Lorem ipsum dolor sit amet.</div>
    <div class="keywords high low">Lorem ipsum dolor sit amet.</div>
    <div class="keywords high">Lorem ipsum dolor sit amet.</div>
    <div class="keywords high"><span>Lorem</span><span>Lorem</span><span>Lorem</span><span>Lorem</span></div>
    <div class="keywords high fill_width"><span>Lorem</span><span>Lorem</span><span>Lorem</span><span>Lorem</span></div>

    <img src="assets/medias/placeholder.png" alt="">
    <video src="assets/medias/placeholder.mp4" autoplay mute loop></video>
</body>
</html>