@import './import/defaults.scss';
@import './import/fonts.scss';
@import './import/noscript-error.scss';

:root {
    --rgb-main-fill: 24, 12, 15;
    --rgb-main-bg: 253, 245, 241;

    --fill: rgb(var(--fill-dynamic, var(--rgb-main-fill)));
    --bg: rgb(var(--bg-dynamic, var(--rgb-main-bg)));

    --fill-low: rgba(var(--fill), 0.6);
    --bg-low: rgba(var(--bg), 0.5);

    --placeholder: #D9D9D9;
}
html {
    --fill-dynamic: var(--rgb-main-fill);
    --bg-dynamic: var(--rgb-main-bg);
}

body {
    font-family: "Work Sans";
    color: var(--fill);
    background-color: var(--bg);
}