:root {
    --swup-page_tr-transform: 0.85s cubic-bezier(0.65, 0, 0.3, 1);
    --swup-page_tr-filter: 0.8s cubic-bezier(0.6, 0, 0.4, 0.9);
}
@media (max-width: $doc-phone) {
    :root {
        --swup-page_tr-transform: 0.95s 0.05s cubic-bezier(0.75, 0, 0.3, 1);
        --swup-page_tr-filter: 0.55s 0.3s ease;
    }
}

page-transition-blocker,
page-transition-anim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}
page-transition-blocker {
    opacity: 0;
}
page-transition-anim {
    background-color: var(--bg);
    transform: translate3d(0, 101%, 0);
    opacity: 0;
    transition: 0s;
}

.swup_transition-page {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    filter: brightness(1);
    transition: opacity 0.7s,
                transform 0.7s cubic-bezier(0.3, 0.5, 0.2, 0.95),
                filter 0s;
}


html.is-changing/*loading*/ {
    .swup_transition-page {
        transform: translate3d(0, 0, 0);
        filter: brightness(1);
    }

    page-transition-anim {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        transition: opacity 0.8s ease, transform var(--swup-page_tr-transform);
    }


    @media (min-width: $doc-phone-m) {
        nav-anchors {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition-delay: 0s;
        }
    }
}

html.is-animating/*unloading*/ {
    .swup_transition-page {
        transform: translate3d(0, -9rem, 0);
        filter: brightness(0.6);
        transition: transform var(--swup-page_tr-transform),
                    filter var(--swup-page_tr-filter);
    }

    page-transition-blocker {
        cursor: wait;
        pointer-events: all;
    }
    page-transition-anim {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: opacity 0s, transform var(--swup-page_tr-transform);
    }

    @media (min-width: $doc-phone-m) {
        nav-anchors {
            opacity: 0;
            transform: translate3d(0, -0.85em, 0);
            transition-delay: 0s;
        }
    }
}

html.is-animating.is-rendering/*before loading*/ {
    .swup_transition-page {
        opacity: 0;
        transform: translate3d(0, 6rem, 0);
        filter: brightness(1);
        transition: opacity 0s,
                    transform 0s,
                    filter 0s;
    }

    @media (min-width: $doc-phone-m) {
        nav-anchors {
            opacity: 0;
            transform: translate3d(0, 0.85em, 0);
            transition-duration: 0s;
            transition-delay: 0s;
        }
    }
}