html.is-changing/*loading*/ {
    .swup_transition-page {
        transition: opacity 0.25s;
        opacity: 1;
    }

    nav-anchors {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-delay: 0s;
    }
}


html.is-animating/*unloading*/ {
    .swup_transition-page {
        opacity: 0;
    }

    nav-anchors {
        opacity: 0;
        transform: translate3d(0, 0.75em, 0);
        transition-delay: 0s;
    }
}