<!DOCTYPE html>
<html>
<head>
    <%= htmlWebpackPlugin.options.head_settings %>
    <title>testrgssdfthsthsrthtt</title>
</head>
<body>

    <nav></nav>




    <main>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
        <div>ab</div>
    </main>


    <%= htmlWebpackPlugin.options.part_footer %>

    <%= htmlWebpackPlugin.options.part_ggrid %>

</body>
</html>