<!DOCTYPE html>
<html class="">
<head>
    <%= htmlWebpackPlugin.options.head_settings %>
    <title>testrgssdfthsthsrthtt</title>
</head>
<body>

    <nav-anchors class="nav-menu--hide">
        <div nav-anchor-link="formations" class="btn-interaction">
            <span>Formations</span>
        </div>
        <div nav-anchor-link="mes_moyens" class="btn-interaction">
            <span>Mes moyens</span>
        </div>
        <div nav-anchor-link="experiences_pro" class="btn-interaction">
            <span>Monde professionnel</span>
        </div>
        <div nav-anchor-link="contact" class="btn-interaction">
            <span>Contact</span>
        </div>
    </nav-anchors>

    <%= htmlWebpackPlugin.options.part_nav %>


    <main>
        <section nav-anchor-section="landing">

            <div class="ggrid display-pc--tablet">

                <div class="card-yolan">
                    <div class="title">
                        <span>Yolan G.</span>
                        <span class="yolan-age"></span>
                    </div>
                    <img src="assets/medias/placeholder.png">
                </div>

                <div class="landing-content">
                    <div></div>

                    <div class="content">
                        <h1 class="size-ggrid">Un partenaire créatif<br>plein de ressources<br>en constante évolution</h1>
                        <div class="sep"></div>
                        <h-subtitle>J’apprends de chacune de mes expériences. Cela me permet de toujours grandir et de mettre au point des projets toujours plus aboutis.</h-subtitle>
                    </div>

                    <div class="scroll-down-notice">
                        <svg class="icon-arrow" viewBox="0 0 24 24" style="clip-path: polygon(0 0, 25% -25%, 100% 50%, 25% 125%, 0 100%);"><line x1="24" y1="12" x2="0" y2="12" /><polyline points="14.076 2.076 24 12 14.076 21.924" /></svg>
                    </div>
                </div>
            </div>

            <div class="ggrid display-tablet">

                <h1>Un partenaire créatif plein de ressources en constante évolution</h1>

                <div class="card-yolan">
                    <div class="title">
                        <span>Yolan G.</span>
                        <span class="yolan-age"></span>
                    </div>
                    <img src="assets/medias/placeholder.png">
                </div>

                <div class="landing-content">
                    <div class="content">
                        <div class="sep"></div>
                        <h-subtitle>J’apprends de chacune de mes expériences. Cela me permet de toujours grandir et de mettre au point des projets toujours plus aboutis.</h-subtitle>
                    </div>

                    <div class="scroll-down-notice">
                        <svg class="icon-arrow" viewBox="0 0 24 24" style="clip-path: polygon(0 0, 25% -25%, 100% 50%, 25% 125%, 0 100%);"><line x1="24" y1="12" x2="0" y2="12" /><polyline points="14.076 2.076 24 12 14.076 21.924" /></svg>
                    </div>
                </div>
            </div>


        </section>

        <section nav-anchor-section="formations" section-bg="220,235,255">
            <div nav-anchor-scroll="formations" class="anchor-title">Formations</div>
            <p>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br></p>
        </section>

        <section nav-anchor-section="mes_moyens" section-bg="210, 255, 210">
            <div nav-anchor-scroll="mes_moyens" class="anchor-title">Mes moyens</div>
            <p>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br></p>
        </section>

        <section nav-anchor-section="experiences_pro" section-bg="250,250,195">
            <div nav-anchor-scroll="experiences_pro" class="anchor-title">Monde professionnel</div>
            <p>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br>ab<br></p>
        </section>

    </main>


    <%= htmlWebpackPlugin.options.part_footer %>

    <%= htmlWebpackPlugin.options.part_ggrid %>


    <script>
        // REAL AGE DISPLAY
        function getAge(dateString) {
            let today = new Date();
            let birthDate = new Date(dateString);
            let age = today.getFullYear() - birthDate.getFullYear();
            let m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) { age--; }
            return age;
        }
        document.documentElement.querySelectorAll('.yolan-age').forEach((el) => { el.innerText = getAge('2002/07/26') + " ans"; });
    </script>
</body>
</html>