<!DOCTYPE html>
<html class="" translate="no" class="notranslate">
<head>
    <%= htmlWebpackPlugin.options.head_settings %>
    <title>Test Project&nbsp;&nbsp;·&nbsp;&nbsp;yolan.design</title>
</head>
<body>
    <%= htmlWebpackPlugin.options.noscript_error %>

    <%= htmlWebpackPlugin.options.part_nav %>
    <%= htmlWebpackPlugin.options.part_page_transition %>

    <main id="swup" class="swup_transition-page">

        <%= htmlWebpackPlugin.options.part_footer %>
    </main>

    <%= htmlWebpackPlugin.options.part_ggrid %>

</body>
</html>