<!DOCTYPE html>
<html class="" translate="no" class="notranslate">
<head>
    <%= htmlWebpackPlugin.options.head_settings %>
    <title>Portfolio&nbsp;&nbsp;·&nbsp;&nbsp;yolan.design</title>
</head>
<body>
    <%= htmlWebpackPlugin.options.noscript_error %>

    <nav-anchors class="nav-menu--hide">
        <div nav-anchor-link="p-motion" class="btn-interaction">
            <span translate-id="anchor-p-motion"></span>
        </div>
        <div nav-anchor-link="p-branding" class="btn-interaction">
            <span translate-id="anchor-p-branding"></span>
        </div>
        <div nav-anchor-link="p-print" class="btn-interaction">
            <span translate-id="anchor-p-print"></span>
        </div>
        <div nav-anchor-link="p-photo" class="btn-interaction">
            <span translate-id="anchor-p-photo"></span>
        </div>
        <div nav-anchor-link="p-ux" class="btn-interaction">
            <span translate-id="anchor-p-ux"></span>
        </div>
    </nav-anchors>

    <%= htmlWebpackPlugin.options.part_nav %>
    <%= htmlWebpackPlugin.options.part_page_transition %>

    <main id="swup" class="swup_transition-page">
        <section nav-anchor-section="landing-portfolio" class="doc-margin-p">
        </section>


        <%= htmlWebpackPlugin.options.part_footer %>
    </main>

    <%= htmlWebpackPlugin.options.part_ggrid %>

</body>
</html>